/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  color: white;
  font-size:1.2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(62, 89, 69, 0.736);
}

main {
  /* display:none; */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    column-gap: 1em;
    transition: all .2s ease-in;
    padding-bottom: 1em;
    padding-top: 1em;
}

.logo {
  filter: invert(100%);
  width: 50px;
  vertical-align: -20%;
}

.wrapper {
  margin: auto;
  margin-bottom: 2%;
  max-width: 85%;
  transition: all .2s ease-in;
}

.contained {
    border: 1px dotted white;
    border-radius: 4px;
    padding: 0.8em;
    padding-top: 0.6em;

}

.billboard {
  gap:1em;
  margin: 1em;
  padding:1.5em;
  border:0.5px solid white;
  border-radius:8px;

}

.stat {
  color:rgb(255, 247, 0);
  font-weight: bold;
}

.positive {
color: rgb(59, 218, 59);
}

.negative {
color: rgb(186, 3, 3);
}

.pageMsg {
  vertical-align: -10%;
}

a {
  color: rgb(142, 179, 223);
}

a:hover {
  color: rgba(213, 231, 252, 0.866);
}

.jumbotron {
  padding-bottom:0;
  background-color: rgba(67, 93, 126, 0.736);
}

.spinner {
  width: 45px;
  text-align: left;
}

.spinner>div {
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
      -webkit-transform: scale(0)
  }
  40% {
      -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
}
